<div id="projects-container"></div>
<div id="lower-wrapper">
    <a href="/admin/project-editor" class="link t1">New Project<span> →</span></a>
    <a href="/admin" class="link t1"><span>← </span>Back</a>
    <div id="message-panel" style="display: none"></div>
    <div id="error-panel" style="display: none"></div>
</div>
