<div class="cart-wrapper t1 marginalised top-back-margin">
    <a id="cart-back" class="link t2" href="/"><span>← </span>back to shopping</a>
    <h1>cart</h1>
    <div class="cart-header cart-line t2">
        <span>item</span>
        <span>license</span>
        <select name="size" id="size">
            <option value="1">1 person</option>
            <option value="5">up to 5 persons</option>
            <option value="10">up to 10 persons</option>
            <option value="25">up to 25 persons</option>
            <option value="50">up to 50 persons</option>
            <option value="100">up to 100 persons</option>
            <option value="250">up to 250 persons</option>
            <option value="500">up to 500 persons</option>
            <option value="750">up to 750 persons</option>
        </select>
    </div>
    <section id="cart-content" style="display: none">
        <div id="cart-items"></div>
        <hr>
        <div class="cart-line">
            <span>discount</span>
            <span></span>
            <span id="cart-discount">0 €</span>
        </div>
        <hr>
        <div class="cart-line">
            <span>total</span>
            <a id="share-cart" class="link t2" href="// TODO: come up with sg">share cart<span> →</span></a>
            <h2 id="cart-total">0 €</h2>
        </div>
        <hr>
        <a href="/checkout" class="checkout-link link h1">go to checkout<span> →</span></a>
    </section>
    <section id="cart-emptiness">
        <h2>your cart is empty</h2>
        <a class="link t2" href="/">why though?<span> →</span></a>
        <hr>
    </section>
</div>
