<meta property="og:url" content="${url}">
<meta property="og:type" content="website">
<meta property="og:title" content="${title}">
<meta property="og:description" content="${project.details.description}">
<meta property="og:image" content="${ 'https://koger.io' + (project.metaImage ? project.metaImage : '/fb-mm.png') }">
<meta name="description" content="${project.details.description}">
