<div class="cover-wrapper">${project.coverImage}</div>
<div id="testers-wrap">
</div>
<div class="project-carousel-wrapper">
    <div id="slide-left" class="slide-button h2" style="left: 0">←</div>
    <div id="slide-right" class="slide-button h2" style="right: 0">→</div>
    <div id="project-carousel">
        ${ project.slides && project.slides.length ? getImage(project.slides[0]) : ''}
    </div>
</div>
${about}
<div id="showcase-wrapper" class="marginalised" style="display: none">
    <h1>buy ${project.shortName}</h1>
    <div class="selectors common-gap">
        <div>
            <hr>
            <div class="selector-title t1"><span>1</span> select platform</div>
            <div class="t2">
                select more to get a discount<br />
                can not find what you are looking for?<br />
                for special licencing options <a href="// TODO: add link" class="link">get in touch<span> →</span></a>
            </div>
            <div id="platform-discounts" class="t2"><span>save 25%</span><span>save 25%</span><span>save 25%</span></div>
            <form id="platform-form">
                <input type="checkbox" id="1" name="platform" value="1" checked />
                <label for="1">desktop</label>
                <input type="checkbox" id="2" name="platform" value="2" />
                <label for="2">web</label>
                <input type="checkbox" id="4" name="platform" value="4" />
                <label for="4">app</label>
            </form>
        </div>
        <div>
            <hr>
            <div class="selector-title t1"><span>2</span> select size</div>
            <div class="t2">
                the size is based on the total number of people employed by the license owner.<br />
                for personal use select the first option.<br />
                <a href="// TODO: add link" class="link">learn more about licensing<span> →</span></a>
            </div>
            <select name="size" id="size">
                <option value="1">1 person</option>
                <option value="5">up to 5 persons</option>
                <option value="10">up to 10 persons</option>
                <option value="25">up to 25 persons</option>
                <option value="50">up to 50 persons</option>
                <option value="100">up to 100 persons</option>
                <option value="250">up to 250 persons</option>
                <option value="500">up to 500 persons</option>
                <option value="750">up to 750 persons</option>
            </select>
        </div>
    </div>
    <hr>
    <div class="selector-title t1"><span>3</span> select styles</div>
    <form id="product-form"></form>
    <a href="// TODO: add link" class="link">can not find what you are looking for? for special licencing options get in touch<span> →</span></a>
</div>
