<meta property="og:url" content="https://koger.io">
<meta property="og:type" content="website">
<meta property="og:title" content="Development Environment">
<meta property="og:description" content="Playground for fun">
<meta property="og:image" content="https://koger.io/fb-mm.png">
<meta name="description" content="A completely home made web-application to try all my crazy and brilliant ideas; no production dependencies used by principle, everything is hand-made.">
<meta name="google-site-verification" content="l2Y_gnATayYYq4FRFuDGBUDLti-n7CrqfjXGAccxSKQ" />
