<div class="carousel-wrapper">
	<div id="slide-left" class="slide-button h2" style="left: 0">←</div>
	<div id="slide-right" class="slide-button h2" style="right: 0">→</div>
	<div id="carousel">
		${ slides.length ? getImages([ slides[0] ]) : ''}
	</div>
</div>
<div id="project-previews">${previewWrappers}</div>
