<div id="fonts-wrapper"></div>
<div class="other-buttons">
    <a href="/admin/font-face-upload" id="new-font" class="link t1">New Font<span> →</span></a>
    <a href="/admin/projects" class="link t1"><span>← </span>Back</a>
</div>
