<tetel>
    <megnevezes>${item.megnevezes}</megnevezes>
    <mennyiseg>${item.mennyiseg}</mennyiseg>
    <mennyisegiEgyseg>${item.mennyisegiEgyseg}</mennyisegiEgyseg>
    <nettoEgysegar>${item.nettoEgysegar}</nettoEgysegar>
    <afakulcs>${item.afakulcs}</afakulcs>
    <nettoErtek>${item.nettoErtek}</nettoErtek>
    <afaErtek>${item.afaErtek}</afaErtek>
    <bruttoErtek>${item.bruttoErtek}</bruttoErtek>
</tetel>
