<div class="price-details-wrapper">
	<span></span>
	<span></span>
	<div class="price-line price-header">
		<span>1</span><span>5</span><span>10</span><span>25</span><span>50</span><span>100</span><span>250</span><span>500</span><span>750</span>
	</div>
	<div class="left-left-bar">
		<span>desktop</span>
		<span>web</span>
		<span>app</span>
		<span>desktop<br>web</span>
		<span>desktop<br>app</span>
		<span>web<br>app</span>
		<span>desktop<br>web<br>app</span>
	</div>
	<div class="left-bar">
		<span>single style</span><span>single pair (reg + ita)</span><span>full family</span>
		<span>single style</span><span>single pair (reg + ita)</span><span>full family</span>
		<span>single style</span><span>single pair (reg + ita)</span><span>full family</span>
		<span>single style</span><span>single pair (reg + ita)</span><span>full family</span>
		<span>single style</span><span>single pair (reg + ita)</span><span>full family</span>
		<span>single style</span><span>single pair (reg + ita)</span><span>full family</span>
		<span>single style</span><span>single pair (reg + ita)</span><span>full family</span>
	</div>
	<div id="price-table"></div>
	<div id="lower-wrapper">
		<button id="save-prices" class="button-40">Save</button>
		<a href="/admin/prices" class="button-40">Back</a>
		<div id="message-panel" style="display: none"></div>
		<div id="error-panel" style="display: none"></div>
	</div>
</div>

