<form method="post" action="/invalid" enctype="multipart/form-data">
    <label for="family">Font Family</label>
    <input id="family" name="family" type="text" required>
    <label for="italic">Italic</label>
    <input id="italic" name="italic" type="checkbox">
    <label for="weight">Weight</label>
    <select id="weight" required>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="700">700</option>
        <option value="800">800</option>
        <option value="900">900</option>
        <option value="1000">1000</option>
    </select>
    <label for="woff-file">Webfont</label>
    <input id="woff-file" name="woff-file" type="file" accept=".otf, .ttf, .woff, .woff2" required>
    <label for="full-fonts">Product Fonts</label>
    <input id="full-fonts" name="full-fonts" type="file" accept=".otf, .ttf, .woff, .woff2" multiple required>
    <div class="action-bar"><a href="javascript:history.back()">Cancel</a><button id="submit-button" type="submit">Upload</button></div>
</form>
