<form>
	<input type="file" id="file-input" accept=".woff, .woff2, .ttf, .otf" required>
</form>
<div class="variables">
	<div id="alternates"><h2>alternates</h2></div>
	<div id="ligatures"><h2>ligatures</h2><span><input type="checkbox" id="no-lig"><label for="no-lig">none</label></span></div>
	<div id="numeric"><h2>numeric</h2></div>
	<div id="other"><h2>other</h2></div>
</div>
<div class="tester">
	<div class="tester-header t2">
		<div class="header-left common-gap">
			<select>
				<option value="testfont">testfont</option>
			</select>
			<input id="tester-slider" class="tester-slider" type="range" min="12" max="240"><label id="size-label" for="tester-slider">160px</label>
		</div>
		<div class="header-center">
			<button id="reset-button"></button>
		</div>
		<div class="header-right">
			<div class="toggles"></div>
		</div>
	</div>
	<div id="tester-playground" class="tester-playground" contenteditable="true"
		 style="font-family: 'testfont'; font-weight: 400; font-style: normal; font-size: 160px; column-count: 1;">
		Fundamental ideas of transhumanism
		were first advanced in 1923 by the British geneticist J. B. S. Haldane in his essay Daedalus: Science and the Future, which predicted that
		great benefits would come from the application of advanced sciences to human biology—and that every such advance would first appear to someone
		as blasphemy or perversion, "indecent and unnatural". In particular, he was interested in the development of the science of eugenics,
		ectogenesis (creating and sustaining life in an artificial environment), and the application of genetics to improve human characteristics,
		such as health and intelligence. His article inspired academic and popular interest. J. D. Bernal, a crystallographer at Cambridge, wrote The
		World, the Flesh and the Devil in 1929, in which he speculated on the prospects of space colonization and radical changes to human bodies and
		intelligence through bionic implants and cognitive enhancement. These ideas have been common transhumanist themes ever since. The biologist
		Julian Huxley is generally regarded as the founder of transhumanism after using the term for the title of an influential 1957 article. The
		term itself, however, derives from an earlier 1940 paper by the Canadian philosopher W. D. Lighthall. Huxley describes transhumanism in these
		terms.
	</div>
</div>
