<form method="post" action="/api/files" enctype="multipart/form-data">
    <label for="first-file">First File</label>
    <input id="first-file" name="first-file" type="file" required>
    <label for="second-file">Second File</label>
    <input id="second-file" name="second-file" type="file" required>
    <button id="submit-button" type="submit">Submit</button>
</form>
