<form method="post" action="/api/payment-start" enctype="application/json" class="checkout-wrapper marginalised top-back-margin t1">
    <a class="link t2" href="/cart"><span>← </span>back to cart</a>
    <h1>checkout</h1>
    <div class="one-to-three">
        <div class="checkout-side">
            <div>contact information</div>
            <div class="t2">fonts and invoice will be sent to this email address</div>
        </div>
        <fieldset class="checkout-form2">
            <input id="name" name="name" type="text" autocomplete="name" placeholder="name" required>
            <input id="email" name="email" type="email" autocomplete="email" placeholder="email" required>
            <input type="tel" id="phone" name="phone" pattern="\\+[0-9]{7,26}" required placeholder="+3614148750"
                   oninvalid="this.setCustomValidity('Please use the following format: +3614148750')"
                   oninput="this.setCustomValidity('')">
        </fieldset>
    </div>
    <div class="one-to-three">
        <div class="checkout-side">
            <div>billing address</div>
            <div class="t2">additional tax may be applied according to your country. you can add a vat id number which must be verified through VIE</div>
        </div>
        <fieldset class="checkout-form2">
            <input id="organization" name="organization" type="text" autocomplete="organization" placeholder="company/organization (optional)">
            <input id="address" name="address" type="text" autocomplete="street-address" required placeholder="address">
            <section class="half-inputs">
                <input id="city" name="city" type="text" autocomplete="address-level2" required placeholder="city">
                <input id="zip" name="zip" type="text" autocomplete="postal-code" required placeholder="post code">
            </section>
            <section class="half-inputs">
                <select id="country" name="country" autocomplete="country" required>
                <option value="AD">Andorra</option>
                <option value="AE">United Arab Emirates</option>
                <option value="AF">Afghanistan</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AI">Anguilla</option>
                <option value="AL">Albania</option>
                <option value="AM">Armenia</option>
                <option value="AO">Angola</option>
                <option value="AQ">Antarctica</option>
                <option value="AR">Argentina</option>
                <option value="AS">American Samoa</option>
                <option value="AT">Austria</option>
                <option value="AU">Australia</option>
                <option value="AW">Aruba</option>
                <option value="AX">Åland Islands</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BB">Barbados</option>
                <option value="BD">Bangladesh</option>
                <option value="BE">Belgium</option>
                <option value="BF">Burkina Faso</option>
                <option value="BG">Bulgaria</option>
                <option value="BH">Bahrain</option>
                <option value="BI">Burundi</option>
                <option value="BJ">Benin</option>
                <option value="BL">Saint Barthélemy</option>
                <option value="BM">Bermuda</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BO">Bolivia (Plurinational State of)</option>
                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                <option value="BR">Brazil</option>
                <option value="BS">Bahamas</option>
                <option value="BT">Bhutan</option>
                <option value="BV">Bouvet Island</option>
                <option value="BW">Botswana</option>
                <option value="BY">Belarus</option>
                <option value="BZ">Belize</option>
                <option value="CA">Canada</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CD">Congo</option>
                <option value="CF">Central African Republic</option>
                <option value="CG">Congo</option>
                <option value="CH">Switzerland</option>
                <option value="CI">Côte d'Ivoire</option>
                <option value="CK">Cook Islands</option>
                <option value="CL">Chile</option>
                <option value="CM">Cameroon</option>
                <option value="CN">China</option>
                <option value="CO">Colombia</option>
                <option value="CR">Costa Rica</option>
                <option value="CU">Cuba</option>
                <option value="CV">Cabo Verde</option>
                <option value="CW">Curaçao</option>
                <option value="CX">Christmas Island</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czechia</option>
                <option value="DE">Germany</option>
                <option value="DJ">Djibouti</option>
                <option value="DK">Denmark</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="DZ">Algeria</option>
                <option value="EC">Ecuador</option>
                <option value="EE">Estonia</option>
                <option value="EG">Egypt</option>
                <option value="EH">Western Sahara</option>
                <option value="ER">Eritrea</option>
                <option value="ES">Spain</option>
                <option value="ET">Ethiopia</option>
                <option value="FI">Finland</option>
                <option value="FJ">Fiji</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FM">Micronesia (Federated States of)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FR">France</option>
                <option value="GA">Gabon</option>
                <option value="GB">United Kingdom of Great Britain and Northern Ireland</option>
                <option value="GD">Grenada</option>
                <option value="GE">Georgia</option>
                <option value="GF">French Guiana</option>
                <option value="GG">Guernsey</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GL">Greenland</option>
                <option value="GM">Gambia</option>
                <option value="GN">Guinea</option>
                <option value="GP">Guadeloupe</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="GR">Greece</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="GT">Guatemala</option>
                <option value="GU">Guam</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HK">Hong Kong</option>
                <option value="HM">Heard Island and McDonald Islands</option>
                <option value="HN">Honduras</option>
                <option value="HR">Croatia</option>
                <option value="HT">Haiti</option>
                <option value="HU">Hungary</option>
                <option value="ID">Indonesia</option>
                <option value="IE">Ireland</option>
                <option value="IL">Israel</option>
                <option value="IM">Isle of Man</option>
                <option value="IN">India</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="IQ">Iraq</option>
                <option value="IR">Iran (Islamic Republic of)</option>
                <option value="IS">Iceland</option>
                <option value="IT">Italy</option>
                <option value="JE">Jersey</option>
                <option value="JM">Jamaica</option>
                <option value="JO">Jordan</option>
                <option value="JP">Japan</option>
                <option value="KE">Kenya</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="KH">Cambodia</option>
                <option value="KI">Kiribati</option>
                <option value="KM">Comoros</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="KP">Korea (Democratic People's Republic of)</option>
                <option value="KR">Korea, Republic of</option>
                <option value="KW">Kuwait</option>
                <option value="KY">Cayman Islands</option>
                <option value="KZ">Kazakhstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LB">Lebanon</option>
                <option value="LC">Saint Lucia</option>
                <option value="LI">Liechtenstein</option>
                <option value="LK">Sri Lanka</option>
                <option value="LR">Liberia</option>
                <option value="LS">Lesotho</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="LV">Latvia</option>
                <option value="LY">Libya</option>
                <option value="MA">Morocco</option>
                <option value="MC">Monaco</option>
                <option value="MD">Moldova</option>
                <option value="ME">Montenegro</option>
                <option value="MF">Saint Martin (French part)</option>
                <option value="MG">Madagascar</option>
                <option value="MH">Marshall Islands</option>
                <option value="MK">North Macedonia</option>
                <option value="ML">Mali</option>
                <option value="MM">Myanmar</option>
                <option value="MN">Mongolia</option>
                <option value="MO">Macao</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MS">Montserrat</option>
                <option value="MT">Malta</option>
                <option value="MU">Mauritius</option>
                <option value="MV">Maldives</option>
                <option value="MW">Malawi</option>
                <option value="MX">Mexico</option>
                <option value="MY">Malaysia</option>
                <option value="MZ">Mozambique</option>
                <option value="NA">Namibia</option>
                <option value="NC">New Caledonia</option>
                <option value="NE">Niger</option>
                <option value="NF">Norfolk Island</option>
                <option value="NG">Nigeria</option>
                <option value="NI">Nicaragua</option>
                <option value="NL">Netherlands</option>
                <option value="NO">Norway</option>
                <option value="NP">Nepal</option>
                <option value="NR">Nauru</option>
                <option value="NU">Niue</option>
                <option value="NZ">New Zealand</option>
                <option value="OM">Oman</option>
                <option value="PA">Panama</option>
                <option value="PE">Peru</option>
                <option value="PF">French Polynesia</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PH">Philippines</option>
                <option value="PK">Pakistan</option>
                <option value="PL">Poland</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="PN">Pitcairn</option>
                <option value="PR">Puerto Rico</option>
                <option value="PS">Palestine</option>
                <option value="PT">Portugal</option>
                <option value="PW">Palau</option>
                <option value="PY">Paraguay</option>
                <option value="QA">Qatar</option>
                <option value="RE">Réunion</option>
                <option value="RO">Romania</option>
                <option value="RS">Serbia</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SC">Seychelles</option>
                <option value="SD">Sudan</option>
                <option value="SE">Sweden</option>
                <option value="SG">Singapore</option>
                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                <option value="SI">Slovenia</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SK">Slovakia</option>
                <option value="SL">Sierra Leone</option>
                <option value="SM">San Marino</option>
                <option value="SN">Senegal</option>
                <option value="SO">Somalia</option>
                <option value="SR">Suriname</option>
                <option value="SS">South Sudan</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SV">El Salvador</option>
                <option value="SX">Sint Maarten (Dutch part)</option>
                <option value="SY">Syrian Arab Republic</option>
                <option value="SZ">Eswatini</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TD">Chad</option>
                <option value="TF">French Southern Territories</option>
                <option value="TG">Togo</option>
                <option value="TH">Thailand</option>
                <option value="TJ">Tajikistan</option>
                <option value="TK">Tokelau</option>
                <option value="TL">Timor-Leste</option>
                <option value="TM">Turkmenistan</option>
                <option value="TN">Tunisia</option>
                <option value="TO">Tonga</option>
                <option value="TR">Turkey</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TV">Tuvalu</option>
                <option value="TW">Taiwan</option>
                <option value="TZ">Tanzania</option>
                <option value="UA">Ukraine</option>
                <option value="UG">Uganda</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="US">United States of America</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VA">Holy See</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="VE">Venezuela</option>
                <option value="VG">Virgin Islands (British)</option>
                <option value="VI">Virgin Islands (U.S.)</option>
                <option value="VN">Viet Nam</option>
                <option value="VU">Vanuatu</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="WS">Samoa</option>
                <option value="YE">Yemen</option>
                <option value="YT">Mayotte</option>
                <option value="ZA">South Africa</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
            </select>
                <input id="state" name="state" type="text" autocomplete="address-level1" placeholder="state (optional)">
            </section>
            <input id="vat" name="vat" type="text" placeholder="vat number (optional)">
        </fieldset>
    </div>
    <div class="one-to-three">
        <div class="checkout-side">
            <div>license holder</div>
            <div class="t2">you can add a license holder different than in the billing information</div>
        </div>
        <div class="checkout-form2" style="grid-row-gap: 0">
            <div class="checker">
                <input type="checkbox" id="someone-else" name="someoneElse">
                <label for="someone-else"><span class="checkbox-dot"></span></label>
                <label for="someone-else">the license is for someone else</label>
            </div>
            <fieldset id="license-form" class="hidden">
                <input id="license-organization" name="licenseOrganization" type="text" autocomplete="organization" placeholder="company/organization">
                <input id="license-name" name="licenseName" type="text" autocomplete="name" placeholder="name">
                <input id="domain" name="domain" type="text" autocomplete="url" placeholder="web domain (optional)">
            </fieldset>
            <div class="checker">
                <input type="checkbox" id="agree" required>
                <label for="agree"><span class="checkbox-dot"></span></label>
                <label for="agree">I agree to the <a class="link t1" href="// TODO: add link">license agreement<span> →</span></a></label>
            </div>
            <div class="checker">
                <input type="checkbox" id="truthful" required>
                <label for="truthful"><span class="checkbox-dot"></span></label>
                <label for="truthful">the information on the selected license is truthful</label>
            </div>
        </div>
    </div>
    <div class="one-to-three">
        <div></div>
        <div>
            <hr>
            <div class="display-line">
                <label for="subtotal">subtotal</label>
                <input id="subtotal" name="subtotal" readonly value="72" />
                <span> €</span>
            </div>
            <div class="display-line">
                <label for="vat-value">vat (19%)</label>
                <input id="vat-value" name="vatValue" readonly value="13.68">
                <span> €</span>
            </div>
            <hr>
            <div class="display-line h2">
                <label for="total">total</label>
                <input id="total" name="total" readonly>
                <span> €</span>
            </div>
            <hr>
        </div>
    </div>

    <input id="products" name="products" hidden>
    <input id="items" name="items" hidden>
    <button type="submit" id="submit-button" class="link h1">proceed to payment<span> →</span></button>
    <div class="paddle t2">all payments are one time only and processed securely by Barion</div>
    <div class="logos">
        <img src="/card_logos/barion-blue.svg" height="40px" />
        <img src="/card_logos/card-americanexpress.svg" height="40px" />
        <img src="/card_logos/card-maestro.svg" height="40px" />
        <img src="/card_logos/card-mastercard.svg" height="40px" />
        <img src="/card_logos/card-visa.svg" height="40px" />
        <img src="/card_logos/google-pay.svg" height="40px" />
    </div>
</form>
