<meta property="og:url" content="https://koger.io/checkout">
<meta property="og:type" content="website">
<meta property="og:title" content="Checkout & Pay">
<meta property="og:description" content="Checkout and pay please">
<meta property="og:image" content="https://koger.io/fb-mm.png">
<meta name="description" content="Initiate payment on this handy page.">
<meta name="google-site-verification" content="l2Y_gnATayYYq4FRFuDGBUDLti-n7CrqfjXGAccxSKQ" />
