<form method="post" action="/api/email">
    <label for="to">To</label>
    <input id="to" name="to" type="email" required>
    <label for="name">Name</label>
    <input id="name" name="name" type="name" required>
    <button id="submit-button" type="submit">Send</button>
</form>
