<svg viewBox="0 0 1328 968" fill="none" version="1.2" xmlns="http://www.w3.org/2000/svg" style="position: absolute; width: 100%; box-sizing: border-box; padding: 0 16px; z-index: -1;" class="ink-fill">
    <path d="M1060.56 16.0441L984.41 16.0441L984.41 216.597L910.121 216.597L910.121 315.536L984.41 315.536L984.41 951.956L1077.27 951.956L1328 328.906L1328 216.597L1060.56 216.597L1060.56 16.0441ZM1259.28 315.536L1106.99 692.575L1063.34 826.276L1054.06 823.602L1060.56 679.204L1060.56 315.536L1259.28 315.536Z"/>
    <path d="M664 -6.40216e-05C533.993 -5.2656e-05 459.703 156.431 459.704 484C459.704 811.569 533.993 968 664 968C794.007 968 868.297 811.569 868.297 484C868.297 156.431 794.007 -7.53872e-05 664 -6.40216e-05ZM664 100.276C742.933 100.276 790.292 216.597 790.292 484C790.292 751.403 742.933 867.724 664 867.724C585.067 867.724 537.708 751.403 537.708 484C537.708 216.597 585.067 100.276 664 100.276Z"/>
    <path d="M150.437 16.0442L74.2897 16.0442L74.2897 216.597L5.63805e-05 216.597L6.50301e-05 315.536L74.2897 315.536L74.2898 951.956L167.152 951.956L417.879 328.906L417.879 216.597L150.437 216.597L150.437 16.0442ZM349.161 315.536L196.868 692.575L153.223 826.276L143.936 823.602L150.437 679.205L150.437 315.536L349.161 315.536Z"/>
</svg>
<div class="top-back-margin marginalised">
    <a class="link t2" href="/"><span>← </span>home</a>
    <h1>page not found</h1>
</div>
