<div class="preview-wrapper">
    <div class="hover-content common-gap">
        <a href="/fonts/${preview.url}" class="button-40">try</a>
        <a href="/fonts/${preview.url}" class="button-40">buy</a>
    </div>
    ${preview.previewImage}
</div>
