<?xml version="1.0" encoding="UTF-8"?>
<xmlszamla xmlns="http://www.szamlazz.hu/xmlszamla" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.szamlazz.hu/xmlszamla https://www.szamlazz.hu/szamla/docs/xsds/agent/xmlszamla.xsd">    <beallitasok>
        <szamlaagentkulcs>${context.settings.szamlaagentkulcs}</szamlaagentkulcs>
        <eszamla>${context.settings.eszamla}</eszamla>
        <szamlaLetoltes>${context.settings.szamlaLetoltes}</szamlaLetoltes>
        <valaszVerzio>${context.settings.valaszVerzio}</valaszVerzio>
    </beallitasok>
    <fejlec>
        <keltDatum>${context.header.date}</keltDatum>
        <teljesitesDatum>${context.header.date}</teljesitesDatum>
        <fizetesiHataridoDatum>${context.header.date}</fizetesiHataridoDatum>
        <fizmod>Átutalás</fizmod>
        <penznem>${context.header.penznem}</penznem>
        <szamlaNyelve>${context.header.szamlaNyelve}</szamlaNyelve>
    </fejlec>
    <elado>
        ${context.seller.bank ? '<bank>' + context.seller.bank + '</bank>' : ''}
        ${context.seller.bankszamlaszam ? '<bankszamlaszam>' + context.seller.bankszamlaszam + '</bankszamlaszam>' : ''}
        ${context.seller.emailReplyto ? '<emailReplyto>' + context.seller.emailReplyto + '</emailReplyto>' : ''}
        ${context.seller.emailTargy ? '<emailTargy>' + context.seller.emailTargy + '</emailTargy>' : ''}
        ${context.seller.emailSzoveg ? '<emailSzoveg>' + context.seller.emailSzoveg + '</emailSzoveg>' : ''}
    </elado>
    <vevo>
        <nev>${context.buyer.nev}</nev>
        ${context.buyer.orszag ? '<orszag>' + context.buyer.orszag + '</orszag>' : ''}
        <irsz>${context.buyer.irsz}</irsz>
        <telepules>${context.buyer.telepules}</telepules>
        <cim>${context.buyer.cim}</cim>
        ${context.buyer.email ? '<email>' + context.buyer.email + '</email>' : ''}
        ${context.buyer.sendEmail ? '<sendEmail>' + context.buyer.sendEmail + '</sendEmail>' : ''}
        ${context.buyer.adoszam ? '<adoszam>' + context.buyer.adoszam + '</adoszam>' : ''}
        ${context.buyer.adoszamEU ? '<adoszamEU>' + context.buyer.orszag + '</adoszamEU>' : ''}
    </vevo>
    <tetelek>
        ${items}
    </tetelek>
</xmlszamla>
