<div class="admin-menu">
    <a href="/admin/projects">Projects</a>
    <a href="/admin/main-slides">Main Page Slides</a>
    <a href="/admin/text-manager">Texts</a>
    <a href="/admin/order-list">Orders</a>
    <a href="/admin/sandbox">Sandbox</a>
    <a href="/admin/prices">Prices</a>
</div>
