<div id="new-slide-wrapper" style="display: none">
    <form id="new-slide-form">
        <img id="preview" src="" alt="preview" style="display: none" width="300px">
        <label for="image">image</label>
        <input id="image" accept="image" type="file" required />
        <label for="link">link</label>
        <input id="link" type="text" required />
        <label for="alt">alt</label>
        <input id="alt" type="text" />
        <button id="submit-button" type="submit">Save</button>
        <button id="cancel-button" type="submit">Cancel</button>
    </form>
</div>
<div id="slides-container"></div>
<div id="lower-wrapper">
    <button id="new-slide" class="button-40">New Slide</button>
    <a href="/admin" class="button-40">Back</a>
    <div id="message-panel" style="display: none"></div>
    <div id="error-panel" style="display: none"></div>
</div>
