<div class="project-about-wrapper marginalised common-gap">
	<h1>about ${shortName}</h1>
	<div class="project-about t1">
		<div>${projectDetails.description}</div>
		<div class="project-details common-gap">
			<span>designer</span><div>márton hegedűs</div>
			<span>release</span><div>${projectDetails.release}</div>
			<span>version</span><div>${projectDetails.version}</div>
			<span>supported languages</span><div>${projectDetails.languages}</div>
			<!-- TODO: add eula href -->
			<span>licence</span><a href="eula" class="link t1">read eula<span> →</span></a>
			<span>specimen</span><a href="${projectDetails.specimenPdf}" class="link t1">download pdf<span> ↓</span></a>
			<!-- TODO: check mailto address -->
			<span>test fonts</span><a href="mailto:info@sansless.xyz" class="link t1">request trial<span> →</span></a>
		</div>
	</div>
</div>
