.admin-menu {
    border: 1px solid var(--ink);
    display: grid;
    font-size: 20px;
    grid-row-gap: 1em;
    margin: 1em auto;
    padding: 1em;
    width: 15em;
}

.admin-menu > a {
    border: 1px solid var(--ink);
    color: inherit;
    padding: 1em;
    text-align: center;
    text-decoration: none;
}

.admin-menu > a:hover {
    color: var(--wite);
    background-color: var(--ink);
}
