main {
    padding-top: 64px;
    padding-bottom: 152px;
}

body.light {
    --neutral: #ddd;
    --blak: #000;
    --ink: #5450FA;
    --error: #f55;
    --wite: #fff;
}

body.dark {
    --neutral: #000;
    --blak: #fff;
    --ink: #4FB59C;
    --error: #f55;
    --wite: #000;
}

a, .link {
    color: var(--blak);
}

body {
    background-color: var(--neutral);
    color: var(--blak);
}

.ink-stroke {
    stroke: var(--ink);
}
.ink-fill {
    fill: var(--ink);
}
.blak-fill {
    fill: var(--blak);
}
.neutral-fill {
    fill: var(--neutral);
}

.neutral-bg {
    background-color: #ddd;
}

h1, .h1 {
    font-size: 42px;
    line-height: 32px;
}

h1 {
    margin-bottom: 60px;
}

h2, .h2 {
    font-size: 27px;
    line-height: 24px;
}

.t1 {
    font-size: 18px;
    line-height: 24px;
}

.t2 {
    font-size: 12px;
    line-height: 16px;
}

.link:hover {
    color: var(--ink);
}

.link > span {
    color: var(--ink);
}

.button-40 {
    background-color: inherit;
    color: inherit;
    display: grid;
    height: 40px;
    place-content: center;
    border: 1px solid var(--ink);
    border-radius: 40px;
}

.button-40:hover {
    background-color: var(--ink);
    color: var(--wite);
}

.button-40:focus {
    background-color: var(--ink);
    color: var(--neutral);
    opacity: 0.75;
}

.toggle-24 {
    box-sizing: border-box;
    background-color: inherit;
    color: var(--blak);
    cursor: pointer;
    font-size: 12px;
    padding: 3px 15px;
    border: 1px solid var(--ink);
    border-radius: 13px;
    height: 24px;
}

.toggle-24:hover {
    border-width: 2px;
    padding: 2px 14px;
}

.toggle-24:focus {
    opacity: 0.75;
}

.common-gap {
    grid-column-gap: 16px;
}

.marginalised {
    margin-left: auto;
    margin-right: auto;
    width: 64.71%;
}

.top-back-margin {
    margin-top: 52px;
}

.marginalised.top-back-margin > h1 {
    margin-top: 32px;
}

#switch {
    cursor: pointer;
}

button, input {
    font-family: inherit;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    color: var(--blak);
    font: inherit;
    background-color: var(--neutral);
    border-color: var(--ink);
}

select:focus {
    border-color: var(--ink);
    outline: none;
}

option {
    min-height: 0;
}

hr {
    border-top-style: solid;
    border-top-color: var(--ink);
    border-top-width: 1px;
    border-bottom-width: 0;
    margin: 0;
    width: 100%;
}

header {
    position: fixed;
    background-color: var(--neutral);
    display: grid;
    grid-template-columns: 24.1% 49.4% 1fr 1fr 1fr;
    height: 64px;
    padding: 0 16px;
    left: 0;
    right: 0;
    z-index: 2;
}

header > a {
    align-self: center;
    color: inherit;
    text-decoration: none;
}

.justify-right {
    justify-self: right;
}

.place-center {
    place-self: center;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#cart-preview {
    background-color: var(--neutral);
}

#message-line {
    background-color: var(--ink);
    color: var(--wite);
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
}

#cart-plus {
    color: var(--ink);
}

#preview-line {
    background-color: var(--neutral);
    display: grid;
    grid-template-columns: auto auto;
    height: 104px;
    align-items: center;
    justify-content: space-between;
}

#item-count {
    padding-bottom: 8px;
}

.static-footer {
    background-color: var(--neutral);
    display: grid;
    grid-template-columns: auto auto;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.static-footer > svg:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.static-footer > svg:focus {
    opacity: 0.75;
}

#project-previews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}

.preview-wrapper {
    position: relative;
    height: 35.3vw;
}

.preview-wrapper > svg {
    width: 100%;
    height: auto;
}

.hover-content {
    display: none;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 30vw 17.07% 2.35vw;
}

.hover-content:hover {
    display: grid;
}

.preview-wrapper:hover > .hover-content {
    display: grid;
}

.hover-content > a {
    color: var(--wite);
}

.hover-image {
    display: none;
    position: absolute;
}

.preview-wrapper:hover > .hover-image {
    display: block;
}

.hover-image:hover {
    display: block;
}

#carousel, #project-carousel {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

#carousel, .carousel-wrapper > .slide-button  {
    height: 52.94vw;
}

#project-carousel, .project-carousel-wrapper > .slide-button {
    height: 47.06vw;
}

#carousel > a, #project-carousel > img {
    position: absolute;
    display: inline-block;
    transition: left 1s;
    -webkit-transition: left 1s;
    width: 100%;
}

#carousel > a {
    height: fit-content;
}

#carousel > a > img {
    width: 100%;
}

.carousel-wrapper {
    position: relative;
    margin: 0 16px;
}

.project-carousel-wrapper {
    position: relative;
}

.slide-button {
    position: absolute;
    color: var(--ink);
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 8.235vw;
    z-index: 1;
}

.slide-button:hover {
    background-color: rgba(221, 221, 221, 0.25);
}

#fonts-column {
    display: grid;
    grid-row-gap: 8px;
    grid-template-columns: auto 60px;
    margin: auto;
    max-width: 500px;
    padding: 16px;
}

#fonts-column > input {
    background-color: #ddd;
    border: none;
    font-size: 20px;
    height: 36px;
    outline: none;
    padding: 8px;
}

#fonts-column > button {
    cursor: pointer;
}

#fonts-column > button:hover {
    cursor: pointer;
    background-color: #fed;
}

.newsfeed {
    background-color: #def;
    margin: 60px auto;
    overflow: hidden;
    padding: 10vw;
    width: 80vw;
}

.post {
    overflow: hidden;
    position: relative;
}

.post > a > img {
    max-width: 80vw;
}

pre {
    white-space: pre-wrap;
}

.slideshow-container {
    display: grid;
    grid-template-columns: repeat(1000, min-content);
    transition: transform 1s;
}

.arrow {
    background-color: white;
    height: 80vw;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 10vw;
}

.arrow-right {
    right: 0;
}

.arrow-left {
    left: 0;
}

/* Project Page START */

.cover-wrapper > svg {
    width: 100%;
    height: auto;
}

.tester {
    display: grid;
    grid-template-rows: 56px auto;
    width: 100%;
}

.tester-header {
    display: grid;
    grid-template-columns: 1fr 11.45% 1fr;
    padding: 16px;
}

.header-left {
    display: grid;
    grid-template-columns: auto 26.76vw 33px;
    align-items: center;
}

.header-left > select, .header-left > select:hover {
    background-repeat: no-repeat;
    background-position: right;
    padding: 3px 27px 3px 16px;
    width: min-content;
}

body.light .header-left > select {
    background-image: url('/select-down-arrow.svg');
}

body.dark .header-left > select {
    background-image: url('/select-down-arrow-dark.svg');
}

.header-left > select > option {
    height: 26px;
    padding: 4px 16px;
}

.tester-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    place-self: center;
    background: var(--ink);
    outline: none;
}

.tester-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: var(--neutral);
    border: 1px solid var(--ink);
    border-radius: 50%;
}

.tester-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: var(--neutral);
    border: 1px solid var(--ink);
    border-radius: 50%;
}

.header-center {
    display: grid;
    place-content: center;
}

.header-center > svg {
    cursor: pointer;
}

.header-center > button {
    background-color: inherit;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.header-center > button:focus {
    outline: none;
    opacity: 0.75;
}

body.light .header-center > button {
    background-image: url('/refresh.svg');
}

body.dark .header-center > button {
    background-image: url('/refresh-dark.svg');
}

body.light .header-center > button:hover {
    background-image: url('/refresh-hover.svg');
}

body.dark .header-center > button:hover {
    background-image: url('/refresh-hover-dark.svg');
}

.header-right {
    display: grid;
    grid-template-columns: auto min-content;
}

.toggles {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-column-gap: 8px;
}

.toggles > input {
    display: none;
}

.toggles > input:checked + label {
    background-color: var(--ink);
    color: var(--wite);
}

.tester-playground {
    max-height: 240px;
    margin: 0 16px 16px 16px;
    overflow: hidden;
    padding: 4px;
}

[contenteditable]:focus {
    outline: 1px solid var(--ink);
}

.project-about-wrapper {
    padding: 99px 0 57px;
}

.project-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-details {
    align-items: baseline;
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.project-details > span {
    font-size: 12px;
    line-height: 16px;
    text-align: right;
}

#showcase-wrapper {
    padding: 67px 0 124px;
}

.selectors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 64px;
}

.selector-title {
    padding: 13px 0;
}

.selector-title > span {
    color: var(--ink);
}

#platform-discounts {
    color: var(--ink);
    padding-top: 1em;
    margin-top: 19px;
}

#platform-discounts > span {
    text-align: center;
}

#platform-discounts, #platform-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5vw;
}

#platform-form > input {
    display: none;
}

#platform-form > label {
    background-color: inherit;
    color: inherit;
    display: grid;
    height: 40px;
    place-content: center;
    border: 1px solid var(--ink);
    border-radius: 40px;
}

#platform-form > input:checked + label {
    background-color: var(--ink);
    color: var(--wite);
}

.selectors > div:nth-child(2) {
    display: grid;
    grid-template-rows: min-content min-content min-content auto;
}

.selectors select#size {
    text-align: center;
    height: 40px;
    padding: 8px;
    width: 100%;
    align-self: end;
}

.selectors select#size > option {
    height: 40px;
    padding: 8px;
}

#product-form {
    display: grid;
    margin: 8px 0 36px;
}

#product-form > input {
    display: none;
}

#product-form > label {
    border-left: 1px solid var(--ink);
    border-top: 1px solid var(--ink);
    border-right: 1px solid var(--ink);
    display: grid;
    padding: 15px 2.35vw;
    grid-template-columns: 67.15% auto auto;
}

#product-form > label > span {
    align-self: center;
}

#product-form > label > span:first-child {
    font-weight: bold;
}

#product-form > label > span:first-child {
    font-size: 27px;
    line-height: 34px;
}

#product-form > label > span:nth-child(2) {
    color: var(--ink);
}

#product-form > label > span:nth-child(3) {
    text-align: right;
    font-size: 27px;
    line-height: 24px;
}

#product-form > label[for=full-family] {
    border-bottom: 1px solid var(--ink);
    padding: 35px 2.35vw;
    margin-bottom: 16px;
}

#product-form > label:last-child {
    border-bottom: 1px solid var(--ink);
}

#product-form > input:checked + label {
    background-color: var(--ink);
    color: var(--wite);
}

#showcase-wrapper > a.link {
    font-size: 12px;
    display: block;
    text-align: right;
}

/* Project Page END*/

video {
    width: 80vw;
}

.login-form {
    display: grid;
    grid-row-gap: 8px;
    margin: 16px auto;
    padding: 16px;
}

.login-form {
    max-width: 200px;
}

.login-form > input, .login-form > button, button {
    border: none;
    font-size: 16px;
    padding: 8px;
}

.login-form > input {
    background-color: #def;
}

/* Checkout start */
.one-to-three {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 13fr 41fr;
}

.checkout-wrapper {
    display: grid;
}

.checkout-wrapper input {
    border: 1px solid var(--ink);
}

.checkout-side {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: min-content auto;
}

.checkout-form2 {
    display: grid;
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
    margin-bottom: 62px;
}

.checkout-form2 > .half-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.checkout-form2 input, .checkout-form2 select {
    background-color: transparent;
    box-sizing: border-box;
    color: var(--blak);
    font: inherit;
    height: 40px;
    padding: 8px 16px;
}

.checkout-form2 input:hover, .checkout-form2 input:focus {
    outline: 1px solid var(--ink);
}

.checkout-form2 input::placeholder {
    color: var(--ink);
}

.checkout-wrapper.touched input:invalid {
    border: 1px solid var(--error);
}

.checkout-wrapper.touched input:invalid:focus, .checkout-wrapper.touched input:invalid:hover {
    outline: 1px solid var(--error);
}

.checkout-wrapper.touched input:invalid::placeholder {
    color: var(--error);
}

.checkout-form2 input:-internal-autofill-selected {
    font: inherit;
}

.checkout-wrapper #address-switch {
    position: relative;
    height: 40px;
    padding-bottom: 32px;
}

.checkout-wrapper #address-switch > label {
    background-color: var(--neutral);
    width: 52%;
    position: absolute;
    text-align: center;
    line-height: 40px;
    border: 1px solid var(--ink);
    border-radius: 20px;
    height: 40px;
}

.checkout-wrapper #address-switch > input[type="radio"]:checked+label {
    z-index: 1;
}

.checkout-wrapper #address-switch > input {
    position: absolute;
    width: 50%;
    height: 40px;
    margin: 0;
}

.agree-wrap {
    margin-left: 25.45%;
}

.checkout-wrapper input[type="checkbox"] {
    float: left;
    position: absolute;
    opacity: 0;
}

.checkout-wrapper input[type="checkbox"] + label {
    display: inline-grid;
    place-items: center;
    height: 24px;
    width: 24px;
    border: 1px solid var(--ink);
}

.checkout-wrapper input[type="checkbox"] + label:hover {
    outline: 1px solid var(--ink);
}

.checkbox-dot {
    display: block;
    height: 8px;
    width: 8px;
    background-color: var(--ink);
    border-radius: 4px;
    opacity: 0;
}

.checkout-wrapper input[type="checkbox"]:checked + label > span.checkbox-dot {
    opacity: 1;
}

.checkout-wrapper .checker {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 16px;
    height: 42px;
}

.checkout-wrapper .checker:last-child {
    height: min-content;
}

.checkout-wrapper.touched .agree-wrap > input[type="checkbox"]:invalid + label {
    border: 1px solid var(--error);
    outline: 1px solid var(--error);
}

.checkout-wrapper > #submit-button {
    background: transparent;
    cursor: pointer;
    display: block;
    padding: 0;
    margin-top: 52px;
    margin-bottom: 16px;
    justify-self: right;
}

.checkout-wrapper > .paddle {
    justify-self: right;
    width: 30.8vw;
    text-align: right;
}

#license-form {
    display: grid;
    transition: height 100ms;
    overflow: hidden;
}

#license-form > input {
    transition: height 100ms, padding 100ms;
    overflow: hidden;
}

#license-form.shown {
    height: 168px;
}

#license-form.hidden {
    height: 0;
}

#license-form.hidden > input {
    height: 0;
    padding: 0;
}

.checkout-wrapper .display-line {
    display: grid;
    grid-template-columns: auto min-content min-content;
    grid-column-gap: 4px;
}

.checkout-wrapper div.display-line {
    margin-bottom: 7px;
}

.checkout-wrapper div.display-line.h2 {
    margin-top: 7px;
    margin-bottom: 13px;
}

.checkout-wrapper div.display-line > input {
    color: var(--blak);
    height: 24px;
    padding: 0;
}

.checkout-wrapper .display-line input {
    border: none;
    background: inherit;
    font: inherit;
    text-align: right;
}

.checkout-wrapper hr {
    margin-bottom: 15px;
}

.checkout-wrapper .logos {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    grid-column-gap: 16px;
    height: 40px;
    justify-self: right;
    padding-top: 5px;
    width: min-content;
}

.checkout-wrapper .logos > img {
    height: 40px;
}

/* Checkout over */

#result {
    padding: 16px;
    display: grid;
    grid-row-gap: 1em;
}

.data-protection {
    font-size: 12px;
    text-align: justify;
}

/* cart start */
.cart-header {
    border-bottom: 1px solid var(--ink);
    margin-bottom: 16px;
}

#cart-content {
    display: grid;
}

.cart-line {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 40px;
    align-items: center;
}

.cart-line > select {
    height: 24px;
    width: 126px;
    justify-self: right;
    text-align: center;
}

.cart-line > span:nth-child(2), .cart-line > div:nth-child(2), .cart-line > a:nth-child(2),
.cart-line > span:nth-child(3), .cart-line > h2:nth-child(3), .cart-line > span:nth-child(4) {
    justify-self: right;
}

#cart-content > hr {
    margin: 16px 0;
}

.cart-line > #cart-discount, .cart-line > #cart-total {
    color: var(--ink);
}

.cart-line > .remove-link {
    display: none;
    cursor: pointer;
}

.cart-line:hover > .remove-link {
    display: block;
}

.cart-line:hover > .cart-item-price {
    display: none;
}

#cart-content .checkout-link {
    justify-self: right;
    margin: 51px 0;
}

#cart-emptiness {
    display: grid;
    grid-template-rows: auto 76px 1px;
    justify-items: center;
}

#cart-emptiness > .cart-header {
    width: 100%;
}

#cart-emptiness > h2 {
    padding-top: 52px;
    padding-bottom: 24px;
}

/* cart end */

@media only screen and (min-width: 600px) {
    .content {
        padding: 60px;
        width: 640px;
    }

    .arrow {
        height: 640px;
        width: 60px;
    }

    video {
        width: 640px;
    }
}

@media only screen and (min-width: 800px) {
    .checkout-form {
        max-width: 800px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
    }

    .checkout-form > a {
        width: min-content;
        justify-self: right;
    }

    .data-protection {
        grid-column: 1 / 3;
    }
}
