main {
    padding: 32px;
}

form {
    background-color: #ddeeff;
    display: grid;
    grid-row-gap: 8px;
    margin: auto;
    max-width: 500px;
    padding: 16px;
}

input {
    height: 20px;
}

button {
    background-color: #ffeedd;
    border: 1px solid white;
    height: 32px;
}

button:active {
    background-color: #ccbbaa;
}

.error {
    background-color: #ffaaaa;
}

.success {
    background-color: #aaffaa;
}

.response {
    border: 1px solid white;
    display: grid;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    height: 32px;
    place-content: center;
}
