form {
    border: 1px solid var(--ink);
    display: grid;
    grid-row-gap: 8px;
    margin: 32px auto;
    width: 85%;
    max-width: 500px;
    padding: 16px;
}

input, select {
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    height: 32px;
    padding: 5px;
}

button {
    border: 1px solid var(--ink);
    cursor: pointer;
    font-size: 16px;
    height: 48px;
}

.action-bar {
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.action-bar > a {
    border: 1px solid var(--ink);
    text-decoration: none;
    display: grid;
    color: inherit;
    place-content: center;
}

.action-bar > a:hover, button:hover {
    color: var(--ink)
}
