#fonts-wrapper, .other-buttons {
    display: grid;
    grid-row-gap: 2.5vw;
    width: 95%;
    margin: 60px auto 0;
}

.font-line, .other-buttons > a {
    border: 1px solid var(--ink);
    display: grid;
    grid-column-gap: 2px;
    grid-template-columns: auto 30px 60px;
    height: 60px;
    padding: 2px;
}

.name, .other-buttons > a {
    padding: 10px;
    display: grid;
    align-items: center;
}

.arrows-wrapper {
    display: grid;
    grid-row-gap: 2px;
    grid-template-rows: 1fr 1fr;
}

.clickable {
    border: 1px solid var(--ink);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--wite);
}

.other-buttons > a {
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
    #fonts-wrapper, .other-buttons {
        grid-row-gap: 20px;
        min-width: 400px;
        width: 50%;
    }
}
