#new-slide-wrapper {
    background-color: rgba(127, 127, 127, 0.7);
    position: fixed;
    width: 100%;
    height: 93vh;
}

#new-slide-form {
    border: 1px solid var(--ink);
    display: grid;
    grid-row-gap: 20px;
    width: 300px;
    margin: 5vh auto;
    padding: 20px;
}

#slides-container {
    display: grid;
    padding: 1vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

.slidePreview {
    border: 1px solid var(--ink);
    display: grid;
    padding: 1vw;
    grid-row-gap: 1vh;
}

.slidePreview > img {
    width: 100%;
}

.arrows-row {
    display: grid;
    justify-content: space-between;
    grid-template-columns: min-content min-content;
}

.arrows-row > span {
    cursor: pointer;
}

.input-line {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1vw;
}

#lower-wrapper {
    display: grid;
    padding: 1vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

#message-panel {
    border: 1px solid var(--ink);
    box-sizing: border-box;
    padding: 1vw;
    width: 23.76vw;
}

#error-panel {
    box-sizing: border-box;
    padding: 1vw;
    background-color: var(--error);
    width: 23.76vw;
}

@media only screen and (min-width: 600px) {
    #slides-container {
        grid-template-columns: repeat(4, 1fr);
    }

    #new-slide, #lower-wrapper > a {
        width: 23.76vw;
    }
}
