#order-list {
    display: grid;
    font-family: monospace;
    font-size: 14px;
    grid-row-gap: 16px;
    margin: 1em auto;
    width: 98%;
}

#order-list > .order > .order-header {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-between;
    padding: 8px;
}

#order-list > .order > .success {
    background-color: #dfe;
}

#order-list > .order > .fail {
    background-color: #edd;
}

#order-list > .order > .cancel {
    background-color: #ddd;
}

#order-list > .order > .pending {
    background-color: #def;
}

#order-list > .order > .order-details {
    background-color: #eee;
    display: grid;
    grid-row-gap: 5px;
    padding: 8px;
    transition: height 500ms;
    overflow: hidden;
}

.two-column {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
}

.last {
    display: grid;
    grid-column-gap: 1vw;
    grid-template-columns: auto auto;
}

table {
    width: 500px;
}

th {
    text-align: left;
}
