.prices-wrapper {
    margin: auto;
    width: 900px;
}

#prices-table {
    display: grid;
    grid-row-gap: 1em;
    padding: 10vh 0;
}

.line {
    display: grid;
    grid-template-columns: repeat(7, min-content);
    grid-column-gap: 1em;
}

.line > input {
    color: var(--blak);
    font-size: inherit;
    width: 5em;
}

.line > button, .line > input {
    background-color: var(--neutral);
    border: 1px solid var(--ink);
    cursor: pointer;
    padding: 8px;
}

.price-name {
    width: 10em;
    align-content: center;
    display: grid;
}

.prices-wrapper > a {
    width: 180px;
    padding: 8px;
    border: 1px solid var(--ink);
    display: block;
}

#error-panel {
    padding: 1vw;
    background-color: var(--error);
    margin: 1vw 0;
}
