.price-details-wrapper {
    display: grid;
    grid-template-columns: 60px 180px auto;
    background-color: var(--wite);
    width: 900px;
    margin: auto;
}

.left-left-bar {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.left-left-bar > span {
    border: 1px solid var(--neutral);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: center;
}

.left-bar {
    display: grid;
}

.left-bar > span {
    display: grid;
    align-content: center;
    height: 3vh;
    padding: 4px;
}

.price-line {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 8px;
    height: 3vh;
    padding: 4px;
}

.price-header {
    border-bottom: 1px solid var(--blak);
}

.price-header > span {
    display: grid;
    place-content: center;
}

.price-line > input {
    background-color: var(--wite);
    border: 1px solid var(--ink);
    box-sizing: border-box;
    color: var(--blak);
    width: 100%;
}

.price-line > div {
    background-color: var(--neutral);
    display: grid;
    place-content: center;
}

#lower-wrapper {
    background-color: var(--neutral);
    display: grid;
    padding: 1vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    grid-column: 1 / 4;
}

.price-line > span {
    border-bottom: black 1px;
}

#message-panel {
    border: 1px solid var(--ink);
    box-sizing: border-box;
    padding: 1vw;
}

#error-panel {
    padding: 1vw;
    background-color: var(--error);
}
