form {
    display: grid;
    grid-gap: 16px;
    padding: 16px;
}

form > section {
    border: 1px solid var(--ink);
    overflow: hidden;
    padding: 16px;
}

.text-fields {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto auto;
    grid-auto-rows: min-content;
}

.svg-wrapper > svg {
    height: auto;
    width: 100%;
}

textarea {
    font-family: 'Sansless';
    font-size: inherit;
    width: 100%;
    height: 20vh;
    overflow-y: scroll;
    resize: none;
    margin-top: 16px;
}

.file-section > label {
    display: block;
    padding-bottom: 16px;
}

.button-wrapper {
    grid-template-columns: 100%;
    place-content: center;
    display: grid;
    grid-row-gap: 16px;
}

.button-wrapper > button {
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    form {
        grid-template-columns: repeat(4, 1fr);
    }

    textarea {
        height: 12vw;
    }

    .button-wrapper {
        grid-column: 2 / 4;
        grid-template-columns: auto;
    }

    .button-wrapper > button {
        width: 10vw;
    }
}
