#projects-container {
    display: grid;
    padding: 1vw;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

.project-preview {
    border: 1px solid var(--ink);
    display: grid;
    padding: 1vw;
    grid-row-gap: 1vh;
}

.project-preview > img {
    width: 100%;
}

.arrows-row {
    display: grid;
    justify-content: space-between;
    grid-template-columns: min-content min-content;
}

.arrows-row > span {
    cursor: pointer;
}

#lower-wrapper {
    display: grid;
    padding: 1vw;
    grid-gap: 1vw;
}

#lower-wrapper > a, .project-preview > button {
    background-color: var(--neutral);
    border: 1px solid var(--ink);
    cursor: pointer;
    padding: 8px;
}

#message-panel {
    border: 1px solid var(--ink);
    box-sizing: border-box;
    padding: 1vw;
}

#error-panel {
    padding: 1vw;
    background-color: var(--error);
}

.image-wrapper > svg {
    height: auto;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    #projects-container {
        grid-template-columns: repeat(4, 1fr);
    }

    #lower-wrapper > a, #message-panel, #error-panel {
        box-sizing: border-box;
        width: 23.75vw;
    }
}
