main {
    padding-left: 64px;
    padding-right: 64px;
}

form {
    padding: 16px;
}

.variables {
    display: grid;
    grid-row-gap: 16px;
    padding: 16px;
}

.variables > div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
