#texts-wrapper, .other-buttons {
    display: grid;
    grid-row-gap: 2.5vw;
    width: 95%;
    margin: 60px auto 0;
}

.text-line, .other-buttons > a, .new-text-line {
    border: 1px solid var(--ink);
    box-sizing: content-box;
    display: grid;
    grid-column-gap: 2px;
    padding: 2px;
}

.text-line, .other-buttons > a {
    grid-template-columns: auto 30px 60px;
}

.text-line {
    height: min-content;
}

.new-text-line {
    height: 206px;
}

.new-text-line {
    grid-template-columns: auto 60px;
}

.other-buttons > a, .other-buttons > button {
    height: 60px;
}

.text-line > p {
    padding: 4px;
}

textarea {
    height: 200px;
    resize: none;
}

.name, .other-buttons > a {
    padding: 10px;
    display: grid;
    align-items: center;
}

.arrows-wrapper {
    display: grid;
    grid-row-gap: 2px;
    grid-template-rows: 1fr 1fr;
}

button {
    background-color: var(--neutral);
    border: 1px solid var(--ink);
    color: var(--blak);
    display: grid;
    place-items: center;
    cursor: pointer;
}

button:hover {
    background-color: var(--ink);
    color: var(--wite);
}

.other-buttons > a {
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
    #texts-wrapper, .other-buttons {
        grid-row-gap: 20px;
        min-width: 400px;
        width: 50%;
    }
}
