<div class="order">
    <div class="order-header ${statusClass}">
        <span>${date}</span>
        <span>OrderID: ${order.orderId}</span>
        <span>TransactionID: <a href="/admin/api/transaction?id=${order.transactionId}">${order.transactionId}</a></span>
        <span>${order.customerEmail}</span>
        <span>${order.total} ${order.currency}</span>
        <span class="last"><span>Status: ${order.status}</span><img class="down-arrow" src="/down-arrow.svg" alt="more"></span>
    </div>
    <div class="order-details">' + invoice + items + '</div>
</div>
