<form method="post" action="/admin/api/projects">
    <section class="text-fields">
        <label for="shortName">short name</label>
        <input id="shortName" type="text" required/>
        <label for="url">url</label>
        <input id="url" type="text" required/>
        <label for="pageTitle">page title</label>
        <input id="pageTitle" type="text" required/>
    </section>
    <section class="file-section">
        <label for="previewImage">preview Image</label>
        <input id="previewImage" type="file" accept="image/svg+xml" required/>
        <div id="previewImage-wrapper" style="display: none" class="svg-wrapper"></div>
    </section>
    <section class="file-section">
        <label for="previewHover">preview image on hover</label>
        <input id="previewHover" type="file" accept="image/svg+xml" required/>
        <div id="previewHover-wrapper" style="display: none" class="svg-wrapper"></div>
    </section>
    <section class="file-section">
        <label for="coverImage">cover Image</label>
        <input id="coverImage" type="file" accept="image/svg+xml" required/>
        <div id="coverImage-wrapper" style="display: none" class="svg-wrapper"></div>
    </section>
    <section>
        <label for="description">description</label>
        <textarea id="description" required></textarea>
    </section>
    <section>
        <label for="languages">languages</label>
        <textarea id="languages" required>albanian, basque, bemba, bosnian, breton, catalan, croatian, czech, danish, dutch, english, esperanto, estonian, faroese, filipino, finnish, french, galician, german, hungarian, icelandic, indonesian, irish, italian, latvian, lithuanian, malay, maltese, maori, norwegian, polish, portuguese, romanian, serbian, slovak, slovenian, somali, spanish, swahili, swedish, zulu</textarea>
    </section>
    <section class="text-fields">
        <label for="release">release</label>
        <input id="release" type="text" value="gestalten, 2013" required/>
        <label for="version">version</label>
        <input id="version" type="text" value="1.1" required/>
        <label for="formats">formats</label>
        <input id="formats" type="text" value="otf, ttf, woff, woff2" required/>
    </section>
    <section class="file-section">
        <label for="specimenPdf">specimen pdf</label>
        <input id="specimenPdf" type="file" accept="application/pdf" required/>
        <a id="specimenPdf-display" style="display: none" class="filename-display" target="_blank"></a>
    </section>
    <section>
        <img id="metaImage-preview" src="" style="display: none" alt="metaImage-preview" width="100%" />
        <label for="metaImage">Metadata Image - 680x354</label>
        <input id="metaImage" type="file" accept="image/png" required/>
    </section>
    <div class="button-wrapper">
        <button type="submit" class="button-40">Save</button>
        <a href="/admin/projects" class="button-40">Cancel</a>
    </div>
</form>
