<div class="marginalised top-back-margin">
    <ul>
        <li id="list-item">List item</li>
    </ul>
    <div id="event-display" style="display: grid; padding: 1em;"></div>
    <input type="button" id="clear-button" value="clear" style="max-width: 300px">
</div>
