<form method="post" action="/api/register" enctype="application/json" class="login-form">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" required>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required>
    <button id="submit-button" type="submit">Submit</button>
</form>
